.aboutme{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.aboutme .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}

.aboutme .left p{
    margin: 1.2rem 0;
}

.aboutme .right{
    max-width: 700px;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    position: relative;
    align-items: center;
    right: 200px;

}

.right .img{
    max-width: 90%;
    border: 2px solid #333;
}

.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}

@media screen and (max-width: 1427px) {
    .right .img-container{
        right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .right .img-container{
        text-align: center;
        left: 0.1rem;
    }
}